@font-face {
  font-family: Montserrat;
  src: url(fonts/Montserrat-Bold.otf);
}

.navbar {
  width: 100%;
  padding: 10px;
  top: 0;
  transition: top 0.6s;
}

.navbar--hidden {
  top: -60px;
}

.montserrat {
  font-family: Montserrat;
}
